/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(ps4-assets/base.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 588px;
    height: 90px;
    position: absolute;
    left: 109px;
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(ps4-assets/triggers.svg);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .bumper {
    width: 99px;
    height: 23px;
    background: url(ps4-assets/bumper.svg) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}

.ds4 .bumper.pressed {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad.pressed {
    background: url(ps4-assets/touchpad.svg) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svg) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svg);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .back, .ds4 .start {
    background: url(ps4-assets/start.svg);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 28px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(ps4-assets/face.svg);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 58px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 58px;
}

.ds4 .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}

.ds4 .stick {
    position: absolute;
    background: url(ps4-assets/sticks.svg);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.ds4 .face {
    background: url(ps4-assets/dpad.svg);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 36px;
    height: 52px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 52px;
    height: 36px;
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 45px;
    left: 0;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/

/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(ps4-white-assets/base.svg);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(ps4-white-assets/triggers.svg);
}

.ds4.white .bumper {
    background-image: url(ps4-white-assets/bumper.svg);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ps4-white-assets/start.svg);
}

.ds4.white .button {
    background-image: url(ps4-white-assets/face.svg);
}

.ds4.white .stick {
    background-image: url(ps4-white-assets/sticks.svg);
}

.ds4.white .face {
    background-image: url(ps4-white-assets/dpad.svg);
}

/*END PS4 White Controller Styling*/

/*BEGIN NES Controller Styling*/
.controller.nes {
    background: url(nes-assets/base.png);
    width: 832px;
    height: 391px;
    /*    margin-left: -416px;
        margin-top: -175px;*/
}

.nes.disconnected {
    background: url(nes-assets/base-disconnect.png);
}

.nes.disconnected div {
    display: none;
}

.nes .quadrant {
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    color: white;
    position: absolute;
    height: 17px;
    width: 180px;
    top: 90px;
    left: 50px;
    text-align: center;
}

.nes .p0:after {
    content: 'Player 1';
}

.nes .p1:after {
    content: 'Player 2';
}

.nes .p2:after {
    content: 'Player 3';
}

.nes .p3:after {
    content: 'Player 4';
}

.nes .arrows {
    position: absolute;
    width: 189px;
    height: 22px;
    top: 251px;
    left: 288px;
}

.nes .back, .nes .start {
    background: url(nes-assets/menu.png);
    width: 73px;
    height: 20px;
}

.nes .back.pressed, .nes .start.pressed {
    background-position-y: -21px;
    margin-top: 4px;
}

.nes .back {
    float: left;
}

.nes .start {
    float: right;
}

.nes .abxy {
    position: absolute;
    width: 180px;
    height: 74px;
    top: 223px;
    left: 570px;
}

.nes .button {
    position: absolute;
    width: 74px;
    height: 74px;
    background: url(nes-assets/buttons.png);
    top: 0;
}

.nes .button.pressed {
    background-position-y: -77px;
    margin-top: 5px;
}

.nes .a {
    right: 0;
}

.nes .b {
    left: 0px;
}

.nes .x, .nes .y {
    display: none;
}

.nes .dpad {
    position: absolute;
    width: 135px;
    height: 131px;
    top: 142px;
    left: 65px;
}

.nes .face {
    background: url(nes-assets/dpad.png);
    position: absolute;
    width: 38px;
    height: 38px;
}

.nes .face.up, .nes .face.down {
    left: 50px;
}

.nes .face.left, .nes .face.right {
    top: 49px;
}

.nes .face.up {
    top: 0;
    background-position: 111px 0px;
}

.nes .face.down {
    top: 98px;
    background-position: 75px 0;
}

.nes .face.left {
    left: 0;
    background-position: 0px 0;
}

.nes .face.right {
    right: 0px;
    background-position: 39px 0;
}

.nes .face.pressed {
    background-position-y: 38px;
}

.nes.half {
    margin-top: -195px;
}

/*END NES Controller Styling*/

/*BEGIN FightPad Pro Controller Styling*/
.controller.fpp {
    background: url(fpp-assets/base.svg) center;
    height: 755px;
    width: 938px;
}

.fpp.disconnected {
    background: url(fpp-assets/base-disconnect.svg) no-repeat;
}

.fpp.disconnected div {
    display: none;
}

.fpp .triggers {
    width: 684px;
    height: 104px;
    position: absolute;
    left: 145px;
}

.fpp .trigger {
    width: 96px;
    height: 104px;
    background: url(fpp-assets/triggers.svg) no-repeat;
    opacity: 0;
}

.fpp .trigger.left {
    float: left;
}

.fpp .trigger.right {
    float: right;
    background-position-x: -98px
}

.fpp .bumpers {
    position: absolute;
    width: 816px;
    height: 76px;
    left: 65px;
    top: 115px;
}

.fpp .bumper {
    width: 221px;
    height: 75px;
    background: url(fpp-assets/bumpers.svg);
    opacity: 0;
}

.fpp .bumper.pressed {
    opacity: 1;
}

.fpp .bumper.left {
    float: left;
}

.fpp .bumper.right {
    background-position-x: -223px;
    float: right;
}

.fpp .bumper.right:after {
    content: "";
    position: absolute;
    background: url(fpp-assets/buttons.svg) no-repeat;
    background-position: -280px 0px;
    width: 70px;
    height: 70px;
    top: 121px;
    right: 41px;
}

.fpp .quadrant {
    position: absolute;
    background: url(fpp-assets/quadrant.svg) no-repeat;
    height: 46px;
    width: 152px;
    top: 365px;
    left: 347px;
